WcfService/DAL/Service References/ServiceReference/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MyProperties" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MyProperties" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProductsObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProductIDObj" type="xs:int" />
      <xs:element minOccurs="0" name="ProductNameObj" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductTypeObj" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnitInStockObj" type="xs:int" />
      <xs:element minOccurs="0" name="UnitPriceObj" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductsObj" nillable="true" type="tns:ProductsObj" />
  <xs:complexType name="OrdersObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerIDObj" type="xs:int" />
      <xs:element minOccurs="0" name="EmployeeIDObj" type="xs:int" />
      <xs:element minOccurs="0" name="OrderDateObj" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderIDObj" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrdersObj" nillable="true" type="tns:OrdersObj" />
  <xs:complexType name="OrderDetailsObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="OrderIDObj" type="xs:int" />
      <xs:element minOccurs="0" name="ProductIDObj" type="xs:int" />
      <xs:element minOccurs="0" name="QuantityObj" type="xs:int" />
      <xs:element minOccurs="0" name="UnitPriceObj" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderDetailsObj" nillable="true" type="tns:OrderDetailsObj" />
</xs:schema>